.cart-heading {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .product-name {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 5px;
    font-size: 16px; 
  }
  .total-price {
    font-size: 1.2rem; 
    color: #333; 
    margin-top: 10px; 
}
  