<section class="">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="https://img.freepik.com/free-vector/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37336.jpg?w=740&t=st=1692130448~exp=1692131048~hmac=66f81305049f340feabc1b65771699cca808737cd98ace292cc15c5239ca4b23"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
  
        <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1">
          <form class="signup" [formGroup]="signupForm">
            <div
              class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
            >
              <h1 class="py-3">Sign Up</h1>
            </div>
  
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="form3Example1"
                class="form-control form-control-md"
                placeholder="Enter your name"
                formControlName="name"
              />
              <!-- errors in name -->
              <div
                *ngIf="
                  signupForm.get('name')!.invalid &&
                  signupForm.get('name')!.touched
                "
              >
                <span
                  class="error-message"
                  *ngIf="signupForm.get('name')!.errors!['required']"
                >
                  <small>Name is required</small>
                </span>
              </div>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form3Example2"
                class="form-control form-control-md"
                placeholder="Enter a valid email address"
                formControlName="email"
              />
              <!-- errors in email -->
              <div
                *ngIf="
                  signupForm.get('email')!.invalid &&
                  signupForm.get('email')!.touched
                "
              >
                <span
                  class="error-message"
                  *ngIf="signupForm.get('email')!.errors!['required']"
                >
                  <small>Email is required</small>
                </span>
                <span
                  class="error-message"
                  *ngIf="
                    signupForm.get('email')!.errors!['email'] ||
                    signupForm.get('email')!.errors!['pattern']
                  "
                >
                  <small>Please enter valid email</small>
                </span>
              </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3 field">
              <input
                type="{{ type }}"
                id="form3Example4"
                required
                autocomplete="off"
                class="form-control form-control-md"
                placeholder="Enter password"
                formControlName="password"
                [pattern]="patternForPassword"
              />
  
              <!-- Hide/show password icon -->
              <span class="eyehide" (click)="hideShowPass()">
                <i class="fa" [ngClass]="eyeIcon"></i>
              </span>
  
              <!-- errors in password -->
              <div
                *ngIf="
                  signupForm.get('password')?.invalid &&
                  signupForm.get('password')?.touched
                "
              >
                <span
                  class="error-message"
                  *ngIf="(signupForm.get('password')?.errors)!['required']"
                >
                  <small>Please enter password.</small>
                </span>
                <span
                  class="error-message"
                  *ngIf="(signupForm.get('password')?.errors)!['pattern']"
                >
                  *Password must contain one Uppercase, one Lowercase, one Special
                  characters, and numbers. Password must be 8 characters long.
                </span>
              </div>
            </div>
  
            <!-- Mobile number input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                maxlength="10"
                pattern="[0-9]{10}"
                id="form3Example4"
                class="form-control form-control-md"
                placeholder="Enter your mobile number"
                formControlName="mobileNumber"
              />
              <!-- errors in mobile number -->
              <div
                *ngIf="
                  signupForm.get('mobileNumber')!.invalid &&
                  signupForm.get('mobileNumber')!.touched
                "
              >
                <span
                  class="error-message"
                  *ngIf="signupForm.get('mobileNumber')!.errors!['required']"
                >
                  <small>Mobile number is required</small>
                </span>
                <span
                  class="error-message"
                  *ngIf="(signupForm.get('mobileNumber')?.errors)!['pattern']"
                >
                  Mobile number must be 10 digits.
                </span>
              </div>
            </div>
  
            <!-- Role dropdown -->
            <div class="form-outline mb-4">
              <select
                class="form-select form-select-md"
                aria-label="Select role"
                formControlName="role"
              >
                <option value="" disabled selected>Select role</option>
                <option value="admin">admin</option>
                <option value="user">user</option>
              </select>
              <!-- errors in role -->
              <div
                *ngIf="
                  signupForm.get('role')!.invalid &&
                  signupForm.get('role')!.touched
                "
              >
                <span
                  class="error-message"
                  *ngIf="signupForm.get('role')!.errors!['required']"
                >
                  <small>Please select a role</small>
                </span>
              </div>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-primary btn-md w-25"
                [disabled]="signupForm.invalid"
                (click)="signup()"
              >
                Sign Up
              </button>
            </div>
            <div class="text-center mt-2">
              <h3>Already have an account? <a class="login-link" routerLink="/auth/login">Click here to login</a></h3>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>