<nav class="navbar navbar-expand-lg bg-dark p-0">
  <div class="container-fluid navbar">
    <a class="navbar-brand">
      <i class="fa-solid fa-shop" style="color: #c3c0c0;"></i> 
      NCoreSoft Ecommerce
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-5">
        <!-- Add a list item for the back button -->
        <li class="nav-item">
          <a class="nav-link"  style="cursor: pointer;" (click)="navigateToLandingPage()">
            <i class="fa-solid fa-backward" style="color: #f9fafb; "></i>
            Back
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <router-outlet></router-outlet> -->
